<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="fa fa-heartbeat"></div>
    <mat-card-title>Your_Information</mat-card-title>
    <mat-card-subtitle>summery</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Donor Name</mat-label>
            <input matInput disabled value="{{userName}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput disabled value="{{donor.phone}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Blood Type</mat-label>
            <input matInput disabled value="{{donor.bloodGorup}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>NID</mat-label>
            <input matInput disabled value="{{donor.nid}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput disabled value="{{donor.address}}">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>Location Update</button> -->
    <button mat-button><a routerLink='/donorUpdate'>Update Information</a></button>
    <button mat-button [disabled]='checked' (click)='clickUpdateMap()'><a>Update Location</a></button>
    <button class="btn btn-outline-light float-right"(click)='onClickToggole()'>
      <mat-slide-toggle [checked]='checked'>{{checked==true?'Auto':'Manual'}} : Map Update</mat-slide-toggle>
    </button>
  </mat-card-actions>
</mat-card>

<app-map [longitude]="donor.longitude" [latitude]="donor.latitude"></app-map>
