<div *ngIf="!data.isMap">
  <form #frm [formGroup]='requestForm' (ngSubmit)='assignRequst()'>
    <mat-form-field appearance="fill">
      <mat-label>Select Your Request</mat-label>
      <mat-select formControlName="requestId">
        <mat-option *ngFor="let item of bloodRequest" [value]='item.bloodRequestIdPk'>
          {{item.bloodGroupName.split("(",1)}}|{{item.donationDate|date}}|{{item.donationDate|date:'shortTime'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button [disabled]="!requestForm.valid" class="btn btn-light" type="submit">Send Request</button>
  </form>
</div>


<div *ngIf="data.isMap">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{data.donor.name}}</mat-card-title>
      <mat-card-subtitle>{{data.donor.bloodGroup}}</mat-card-subtitle>
    </mat-card-header>
    <p>{{data.donor.phone}}</p>
    <p>{{data.donor.address.split("(",1)}}</p>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <form #frm [formGroup]='requestForm' (ngSubmit)='assignRequst(data.donor.donorIdPk)'>
    <mat-form-field appearance="fill">
      <mat-label>Select Your Request</mat-label>
      <mat-select formControlName="requestId">
        <mat-option *ngFor="let item of bloodRequest" [value]='item.bloodRequestIdPk'>
          {{item.bloodGroupName.split("(",1)}}|{{item.donationDate|date}}|{{item.donationDate|date:'shortTime'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button [disabled]="!requestForm.valid" class="btn btn-light" type="submit">Send Request</button>
  </form>
</div>
