<div class="d-flex flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm justify-content-around">

  <img src="assets/logo/bdtLogo.png" height="35px" alt="skinet-logo" routerLink="/">

  <nav class="my-2 my-md-0 mr-md-3">
    <button class="mat-button">
      <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </button>
    <button class="mat-button">
      <a class="p-2" routerLink="/blood" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Donor</a>
    </button>
    <button class="mat-button">
      <a class="p-2" routerLink="/bloodrequest" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Request</a>
    </button>
    <!-- <button class="mat-button">
      <a class="p-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blood</a>
    </button> -->
  </nav>

  <div class="float-right">
    <button mat-icon-button [matBadge]="notify" *ngIf="(notificationCounter$|async) as notify">
      <a class="p-2" routerLink="/donor_request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>notifications_none</mat-icon>
      </a>
    </button>
    <button mat-icon-button *ngIf="(notificationCounter$|async)==0">
      <a class="p-2" routerLink="/donor_request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>notifications_none</mat-icon>
      </a>
    </button>
  </div>

  <div class="align-items-center flex-end">

    <ng-container *ngIf="(user$|async) == null">
      <div class="btn-group" ngbDropdown>
        <button class="btn mat-button" id="dropdownForm1" ngbDropdownToggle>access_your_account</button>
        <ul id="dropdown-animated" ngbDropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a routerLink="/account" class="dropdown-item">login</a></li>
          <li role="menuitem"><a routerLink="/register" class="dropdown-item">register</a></li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="(user$|async)as user">
      <div class="btn-group" ngbDropdown>
        <button class="mat-button" id="dropdownForm1" ngbDropdownToggle>Wellcome {{user.userName}}</button>
        <ul id="dropdown-animated" ngbDropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" routerLink="/donor">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/my_card">My Card</a></li>
          <!-- <li role="menuitem"><a class="dropdown-item" routerLink="/my_response">My Response</a></li> -->
          <div class="dropdown-divider"></div>
          <li role="menuitem"><a (click)="logout()" class="dropdown-item">Logout</a></li>
        </ul>
      </div>
    </ng-container>

  </div>

</div>



<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Brand/Logo</a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav> -->
