<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active"><img
        src="../../../assets/logo/bdtLogo.png" width="35"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row justify-content-end">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <button _ngcontent-bmx-c336="" mat-raised-button="" color="primary"
              class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">
              <span class="mat-button-wrapper">Home</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">
            <button _ngcontent-bmx-c336="" mat-raised-button="" color="primary"
              class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">
              <span class="mat-button-wrapper">Register</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/account">
            <button _ngcontent-bmx-c336="" mat-raised-button="" color="primary"
              class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">
              <span class="mat-button-wrapper">Login</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </button>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
