<div class="d-flex justify-content-center pb-3">
  <h3 class="font-italic">Welcome,<strong>Register</strong> Your Account</h3>
</div>

<div class="row justify-content-center align-content-center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="mt-3">
      <mat-label>email</mat-label>
      <input name="email" type="email" matInput placeholder="email@mail.com" value="" formControlName="email" required>
      <mat-error *ngIf="getRegister.email.touched && getRegister.email.invalid">
        <mat-error *ngIf="getRegister.email.errors?.emailExist">email already exist</mat-error>
        <mat-error *ngIf="getRegister.email.errors?.required">email address required</mat-error>
        <mat-error *ngIf="getRegister.email.errors?.email">please enter a valid email address</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-3">
      <mat-label>user_name</mat-label>
      <input name="userName" type="text" matInput placeholder="_user" value="" formControlName="userName" required>
      <mat-error *ngIf="getRegister.userName.touched && getRegister.userName.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="mt-3">
      <mat-label>first_name</mat-label>
      <input name="firstName" type="text" matInput placeholder="" value="" formControlName="firstName" required>
      <mat-error *ngIf="getRegister.firstName.touched && getRegister.firstName.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-3">
      <mat-label>last_name</mat-label>
      <input name="lastName" type="text" matInput placeholder="" value="" formControlName="lastName" required>
      <mat-error *ngIf="getRegister.lastName.touched && getRegister.lastName.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="mt-3">
      <mat-label>password</mat-label>
      <input name="password" (change)="confirmPassCheck()" name="password" #pwValue type="password" matInput placeholder="pas***rd" value=""
        formControlName="password" required>
      <mat-error *ngIf="getRegister.password.touched && getRegister.password.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-3">
      <mat-label>confirm_password</mat-label>
      <input name="confirmPassword" #cwValue type="password" matInput placeholder="c*n**rm" value=""
        formControlName="confirmPassword" required (change)="confirmPassCheck()">
      <mat-hint *ngIf="getRegister.confirmPassword.touched && !passMatch">
        <mat-error>
          password missmatched
        </mat-error>
      </mat-hint>
    </mat-form-field>
    <br>

    <mat-form-field class="mt-3">
      <mat-label>date_of_birth</mat-label>
      <input name="dateOfBirth" type="date" matInput placeholder="" value="" formControlName="dateOfBirth" required>
      <mat-error *ngIf="getRegister.email.touched && getRegister.email.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!registerForm.valid || !passMatch">Register</button>

  </form>
</div>

<div class="mt-5 row justify-content-center align-content-center">
  <a routerLink="/account">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" class="pl-3 pr-3">
        have an account, login
      </mat-button-toggle>
    </mat-button-toggle-group>
  </a>
</div>
