
<div class="container">
  <div class="row">
    <div class="h3 col">{{donorRequest.requestUserName}}</div>
    <button class="col-1" mat-icon-button color='warn' (click)='onAction(false)'>
      <mat-icon class="col-2">close</mat-icon>
    </button>
    <button class="col-1" mat-icon-button color='primary' (click)='onAction(true)'>
      <mat-icon class="col-2">done</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="col">{{donorRequest.bloodGroup}}</div>
    <div class="col">{{donorRequest.address}}</div>
  </div>
  <div class="row">
    <div class="col"><strong>Date:</strong> {{donorRequest.requestDateTime|date}} | <strong>Time:</strong> {{donorRequest.requestTime|date:'shortTime'}}</div>
  </div>
</div>
