<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Basic Information">
    <form [formGroup]="donorForm" (ngSubmit)='OnSubmit()'>
      <mat-form-field class="example-full-width">
        <input matInput disabled value="DONOR INFORMATION">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Donor Name</mat-label>
              <input matInput formControlName="name" readonly value="{{donorName}}">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone">
              <mat-error *ngIf="donorForm.controls.phone.touched && donorForm.controls.phone.invalid">
                phone number is required
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>NID</mat-label>
              <input matInput formControlName="nid">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea formControlName="address" matInput placeholder="chittagong, bangladesh"></textarea>
          <mat-error *ngIf="donorForm.controls.address.touched && donorForm.controls.address.invalid">
            address is required
          </mat-error>
        </mat-form-field>
      </p>

      <button type="submit" [disabled]="!donorForm.valid" mat-button>Update</button>
    </form>
  </mat-tab>

  <mat-tab label="Health Report">
    <app-health-report></app-health-report>
  </mat-tab>

  <mat-tab label="Account">
    <app-donor-account></app-donor-account>
  </mat-tab>

</mat-tab-group>
