<form [formGroup]="userForm" (ngSubmit)='onSubmit()'>

  <mat-form-field>
    <!-- <mat-label>help us by your information</mat-label> -->
    <input matInput disabled value="Update Account">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="userForm.controls.firstName.invalid">First Name Required</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </td>
    </tr>
  </table>


  <mat-form-field appearance="fill">
    <mat-label>Birthday</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthday" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button class="mt-3" [disabled]="!userForm.valid" type="submit" mat-button>Update</button>
</form>
